In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

df = pd.DataFrame({
    "beach": ["A","A","A","A",  "B","B","B","B",  "C","C","C","C"],
    "wave": [1.5,1.4,1.5,1.6,  2.3,2.3,2.6,2.5,  3.6,3.4,3.5,3.4]
})
train, test = train_test_split(df, test_size=0.5, random_state=320)
train

   beach  wave
4      B   2.3
0      A   1.5
1      A   1.4
5      B   2.3
10     C   3.5
2      A   1.5

In [5]:
model = Pipeline([
    ("oh", OneHotEncoder()),
    ("lr", LinearRegression())
])
model.fit(train[["beach"]], train["wave"])
model.score(test[["beach"]], test["wave"])

0.9390127692014484

# Can we build the above model from scratch?